html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #000, grey);
    color: #fff;
    text-align: center;
    overflow-x: hidden; /* Prevent horizontal scroll */
        min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;

}
h1 {
    font-size: 3rem;
    background: linear-gradient(45deg, #ffff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, black, white);
    width: 100%;
    
}
#nav1 {
    background-color: white;
    color: black;
        transition: 0.3s;
}
#nav2 {
    background-color: black;
    color: white;
        transition: 0.3s;

}
#nav3 {
    background-color: white;
    color: black;
        transition: 0.3s;
}
#nav4 {
    background-color: black;
    color: white;
    transition: 0.3s;
}
#nav1:hover {
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
#nav2:hover {
    background-color: white;
    color: black;
}
#nav3:hover {
    background-color: black;
    color: white;
}
#nav4:hover {
    background-color: white;
    color: black;
}

.li {
    float: left;
    width: 25%;          
}
li a {
  
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
    transition: background-color  ease;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;        
    color: #BBFBFF;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    color: black
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: black;
    color: white;
}
.text-link {
    margin-top: 10px;
    font-size: 1rem;
}
.text-link a {
    color: black;
    text-decoration: none;
}
.text-link a:hover {
    text-decoration: underline;
}



.h1 {
  font-size: 3em;
  font-weight: bold;
  background: linear-gradient(270deg, #ffff,);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 4s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.music-player-container {
    background-color: #333
}
